{% extends 'JobZBundle::layout.html.twig' %}
{% block title %}JobZ Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="content">
        <div id="jobs">
            {% for cat,jobs in jobsByCategories %}
                <div class="category_design">
                    <div class="category">
                        <h1>
                            <a href="{{ path('category_display',{id:jobs[0].category.id}) }}">{{ cat }}</a>
                        </h1>
                    </div>
                    <table class="jobs">
                        <tbody>
                        {% for job in jobs %}
                            <tr class= {{ (loop.index % 2) == 0 ? "even" : "odd" }}>
                                <td class="location">
                                    {{ job.location }}
                                </td>
                                <td class="position">
                                    <a href="job.html">{{ job.position }}</a>
                                </td>
                                <td class="company">
                                    {{ job.company }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
