{% extends 'JobZBundle::layout.html.twig' %}
{% block title %}{{ job.position }}{% endblock %}
{% block content %}

    <div class="content">
        <div id="job">
            <h1>
                {{ job.company }}
            </h1>
            <h2>
                {{ job.location }}
            </h2>
            <h3>
                {{ job.position }} <small>- {{ job.jobType.name }}</small>
            </h3>
            <div class="description">
                {{ job.description | converturls }}
            </div>
            <h4>
                How to apply?
            </h4>
            <p class="how_to_apply">
                {{ job.howToApply | converturls}}
            </p>
            <br>
            <p>URL: {{ job.url | converturls }}</p>
            <p>Email: {{ job.user.email | converturls }}</p>
            <div class="meta">
                <small>posted on {% if job.created %}{{ job.created|date('Y-m-d H:i:s') }}{% endif %}</small>
            </div>
        </div>
    </div>

{% endblock %}
