{% extends 'JobZBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ job.position }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ job.url }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ job.position }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ job.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Howtoapply</th>
                <td>{{ job.howToApply }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if job.created %}{{ job.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ job.company }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ job.user.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('job_edit', { 'id': job.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
