{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jobz/css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jobz/css/jobs.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jobz/css/job.css') }}"/>
{% endblock %}

{% block body %}
    <div id="container">
        <div id="header">
            <div class="nav">
                <ul>
                    {% if app.user %}
                        <li><a href="#">Hello {{ app.user.username }} !</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Registration</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="nav-menu">
                {{ render(controller("JobZBundle:Default:_renderInfos", {position : "header"})) }}
            </div>
            <div class="clearfix"></div>
            <div class="content">
                <h1>
                    <a href="{{ path('jobz_default_index') }}"><img src="{{ asset('bundles/jobz/images/jobz.gif') }}"></a>
                </h1>
                <div id="sub_header">
                    <div class="post">
                        <h2>
                            Ask for people
                        </h2>
                        <div>
                            <a href="{{ path('job_new') }}">Post a Job</a>
                        </div>
                    </div>
                    <div class="search">
                        <img src="{{ asset('bundles/jobz/images/ask.png') }}" alt="ask">
                        <h2>
                            Ask for a job
                        </h2>
                        <form action="{{ path('jobz_default_index') }}" method="get">
                            <input name="keyword" id="search_keywords" class="input" type="text" value="{{ app.request.get("keyword") }}"><input value="search" src="{{ asset('bundles/jobz/images/search.png') }}" class="but_search" type="image">
                            <div class="help">
                                Enter some keywords (city, country, position, ...)
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <div class="content">
                {{ render(controller("JobZBundle:Default:_renderInfos", {position : "footer"})) }}
            </div>
        </div>
    </div>
{% endblock %}